.flag {
    background-color: #006AA7;
    width: 40px;
    height: 24px;
    position: relative;
    margin: auto;

    &:before {
        background-color: #FECC00;
        content: "";
        height: 15%;
        left: 0;
        margin-top: -5%;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    &:after {
        background-color: #FECC00;
        content: "";
        height: 100%;
        left: 30%;
        margin-left: -5%;
        position: absolute;
        top: 0;
        width: 9%;
    }
}

.flag-container {
    text-align: center;
}

[data-theme="dark"] {
    .image-invert-allowed {
        filter: invert(93%) hue-rotate(180deg) brightness(1.8);
    }
}
