/* 482344 */
/* E02130 */

html,body {
	margin: 0;
	padding: 0;
}

body {
	background: #E3DFD7;
}

.right {
	float: right;
	margin-top: 0.5em;
}

#header {
	background: #2B5166;
	border-bottom: 5px solid #A2AD00;
}

#header h1 {
	margin: 0;
	font-size: 2em;
	padding: 0.5em 1em;
	font-family: Indie Flower;
}

#sidebar {
	font-family: Lato;
}

#sidebar a:hover {
	color: #E02130;
	text-decoration: underline;
}

#header h1 a {
	color: white;
	text-decoration: none;
}

#content {
	max-width: 760px;
	margin: 0px 2em;
	font-family: Lato;
}

#content h2, #sidebar h2 {
	margin: 0px;
	font-family: Architects Daughter;
}

#content h2.title, #content h2:first-child {
	margin: 10px 0px 0px 0px;
	font-family: Architects Daughter;
}

@media (min-width: 900px) {
	#sidebar {
		position: absolute;
		right: 0px;
		top: 6em;
		float: right;
		width: 20%;
		min-height: 200px;
		margin-left: 1em;
		padding: 0.8em;
		border-left: 1px solid gray;
	}

	#sidebar a {
		color: #482344;
		text-decoration: none;
	}

	#header ul {
		display: none;
	}

	#content {
		padding-right: 200px;
	}
}

@media (max-width: 900px) {
	#sidebar {
		max-width: 900px;
		padding: 10px 2em;
		border-top: 5px solid #A2AD00;
		color: white;
		background: #2B5166;
	}
	
	#sidebar a {
		color: #FAB243;
		text-decoration: none;
	}
}

@media (max-width: 600px) {
	#header h1 {
		margin: 0;
		font-size: 2em;
		padding: 0.1em 0.5em;
	}
}

@media (max-width: 300px) {
	#header h1 {
		font-size: 1.5em;
		padding: 0.1em;
	}
}

@media (min-width: 400px) {
	#header ul, #header li {
		float: right;
	}

	#header ul {
		padding: 1em 0.8em;
	}

	#header li {
		list-style-type: none;
		padding: 0 0.4em;
	}

	#header li a {
		color: white;
		text-decoration: none;
	}
}

@media (max-width: 400px) {
	#header ul {
		display: none;
	}
	#header h1 {
		text-align: center;
	}
}
