.aligncenter {
	margin: auto;
	display: block;
	box-shadow: 5px 5px 5px #999;
}

.alignright {
	float: right;
	margin: 0 0 1em 1em;
	box-shadow: 5px 5px 5px #999;
}

.size-large, .size-full {
	max-width: 100%;
	height: auto;
}
