{% extends "base.html" %}
{% block title %}All Tags | {{ config.title }}{% endblock title %}
{% block page_header %}
    <h2>Tag clouds</h2>
{% endblock page_header %}
{% block section %}
    <article class="tags">
        <ul>
            {%- for term in terms %}
              {%- set_global is_english = false %}
              {%- for page in term.pages %}
                {%- if page.date and page.date | date(format="%Y") | int > 2014 %}
                  {%- set_global is_english = true %}
                {%- endif %}
              {%- endfor %}
              {%- if is_english %}
            <li><a href="{{ term.permalink }}" data-weight="{{ term.pages | length }}">{{ term.name | lower }}</a></li>
              {%- endif %}
            {%- endfor %}
        </ul>
    </article>

    <div class="language-divider">
        <span class="divider-line"></span>
        <div class="flag"></div>
        <span class="divider-text">Svenska inlägg</span>
        <span class="divider-line"></span>
    </div>

    <article class="tags">
        <ul>
            {%- for term in terms %}
              {%- set_global is_swedish = false %}
              {%- for page in term.pages %}
                {%- if not page.date or page.date | date(format="%Y") | int <= 2014 %}
                  {%- set_global is_swedish = true %}
                {%- endif %}
              {%- endfor %}
              {%- if is_swedish %}
            <li><a href="{{ term.permalink }}" data-weight="{{ term.pages | length }}">{{ term.name | lower }}</a></li>
              {%- endif %}
            {%- endfor %}
        </ul>
    </article>
{% endblock section %}
