<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
</head>

<body data-theme="light">
  <header>
    <img src="{{ get_url(path="images/nsg.jpg") | safe }}" alt="Profile" class="profile-image">
    <h1><a href="/">{{ config.title }}</a></h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Latest</a></li>
      <li><a href="/post">Archive</a></li>
      <li><a href="/tags">Tags</a></li>      
      <li><a href="/about">About</a></li>
    </ul>

    <div class="search">
      <button id="search-button">🔍</button>
    </div>

    <div class="theme-toggle">
      <label class="switch" for="theme-toggle">
        <input type="checkbox" id="theme-toggle">
        <span class="slider"></span>
      </label>
    </div>
  </nav>
  <div id="search">
    <div class="loading">Loading Search ...</div>
    <form>
      <label for="search"></label>
      <input name="search" placeholder="Enter search query">
    </form>
    <div class="results"></div>
  </div>
  <main>
    {% block page_header %}
    <section>
      {% if page.title %}
        <h2>{{ page.title }}</h2>
      {% elif section.title %}
        <h2>{{ section.title }}</h2>
      {% endif %}
    </section>
    {% endblock page_header %}

    <section>
      {% block section %}
        <article>
          {% block article %}
            {{ section.content | safe }}
          {% endblock article %}
        </article>
      {% endblock section %}
    </section>

    <section class="backlinks">
      {% block backlinks %}
      {% endblock backlinks %}
    </section>

    <section class="related">
      {% block related %}
      {% endblock related %}
    </section>

    {% if page.date %}
      <section class="postend">
        {% set this_ts = now() | date(format="%s") | int %}
        {% set post_ts = page.date | date(format="%s") | int %}
        {% set my_age = (post_ts - 433728000) / 31536000 | round %}
        {% if post_ts < this_ts - 86400 * 365 * 10 %}
          <strong>Please note</strong> that this is a old post from the year <strong>{{ page.year }}</strong>,
          a lof of time has passed since I wrote this text. The information may be outdated, and
          <strong>my opinions may have changed</strong>, I'm not {{ my_age }} years old anymore.
        {% elif post_ts < this_ts - 86400 * 365 * 2 %}
          <strong>Please note</strong> that this is a old post from the year <strong>{{ page.year }}</strong>
          and the information may be outdated.
        {% endif %}

        All these {{ page.word_count }} words are written by <a href="/about">Stefan Berggren</a>, feel free and contact
        me if you like.
      </section>
    {% endif %}
  </main>

  <footer>
    For more information about this blog, see <a href="/about">about</a>.
  </footer>

  <script>
    // These are called from main.js only when the search button is clicked.
    // The search index is quite large and we don't want to load it unless explicitly needed.
    const elasticlunr_path = "{{ get_url(path="elasticlunr.min.js") | safe }}";
    const search_index_path = "{{ get_url(path="search_index.en.js") | safe }}";
  </script>

  <script type="text/javascript" src="{{ get_url(path="main.js") | safe }}"></script>
</body>

</html>
